.multi-parent {
  position:relative;
  text-align:center;
}

.centerbox {
  width:35vw;
  height: 60vh;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
}


/* Text based classes */
/* Used for general instructions */
.block-text {
  width:100%;
  height 100vw;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: 20px;
  line-height: 120%;
}

/* As above but centered instead of justified. Good for instructions with few lines */
.center-block-text {
  width:100%;
  height 100vw;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: 26px;
  line-height: 120%;
}

/* used for large text shown in the center of the screen, like FB or stimuli */
.center-text {
  text-align:center;
  font-size: 40px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* used when the background is dark */
.white-text {
  color: white;
}

/* fixation should be used like this in: '<div class = centerbox><div class = fixation>+</div></div>'*/
.fixation {
  text-align: center;
  font-size: 150px;
  position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}


/* Used in lists */
.list-text li{
  font-size: 20px;
}





/* flex box used to vertically and horizontally center an img.
Sample html: <div class = centerbox><div class = img-container><img...></img></div></div>
*/
.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

#legal {
  margin: 0 auto;
  margin-top: 1.5em;
  font-size: 0.8em;
}

body {
  padding: 0;
  margin: 0;
  font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
  font-size: 16px;
  line-height: 20px;
}

/* Used for positioning nav buttons during instructions */
/*
.jspsych-instructions-nav {
  width:20vw;
  height: 20vw;
  position:absolute;
  top: 5%;
  left:10%;
  margin-right:-50%;
}
*/

.jspsych-instructions-nav button,  .default_button {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7f9ac9), color-stop(1, #476e9e));
  background:-moz-linear-gradient(top, #7f9ac9 5%, #476e9e 100%);
  background:-webkit-linear-gradient(top, #7f9ac9 5%, #476e9e 100%);
  background:-o-linear-gradient(top, #7f9ac9 5%, #476e9e 100%);
  background:-ms-linear-gradient(top, #7f9ac9 5%, #476e9e 100%);
  background:linear-gradient(to bottom, #7f9ac9 5%, #476e9e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f9ac9', endColorstr='#476e9e',GradientType=0);
  background-color:#7f9ac9;
  -moz-border-radius:15px;
  -webkit-border-radius:151px;
  border-radius:15px;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:24px;
  padding:14px 37px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;

  border: 1px solid #999;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 6vh;
  width: 200px;
  
}
.jspsych-instructions-nav button:hover, .default_button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7f9ac9));
  background:-moz-linear-gradient(top, #476e9e 5%, #7f9ac9 100%);
  background:-webkit-linear-gradient(top, #476e9e 5%, #7f9ac9 100%);
  background:-o-linear-gradient(top, #476e9e 5%, #7f9ac9 100%);
  background:-ms-linear-gradient(top, #476e9e 5%, #7f9ac9 100%);
  background:linear-gradient(to bottom, #476e9e 5%, #7f9ac9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7f9ac9',GradientType=0);
  background-color:#476e9e;
}

.jspsych-instructions-nav button[disabled], .default_button[disabled] {
  border: 1px solid #999;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  cursor: not-allowed;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #282828), color-stop(1, #7f9ac9));
  background:-moz-linear-gradient(top, #282828 5%, #7f9ac9 100%);
  background:-webkit-linear-gradient(top, #282828 5%, #7f9ac9 100%);
  background:-o-linear-gradient(top, #282828 5%, #7f9ac9 100%);
  background:-ms-linear-gradient(top, #282828 5%, #7f9ac9 100%);
  background:linear-gradient(to bottom, #282828 5%, #7f9ac9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#282828', endColorstr='#7f9ac9',GradientType=0);
  background-color:#282828;
}

/*
 *
 * PLUGIN: jspsych-poldrack-survey-multi-choice
 *
 */

.jspsych-poldrack-survey-multi-choice-question {
  margin-top: 2em;
  margin-bottom: 2em;
 }

.jspsych-poldrack-survey-multi-choice-text span.required {
  color: darkred;
}

.jspsych-poldrack-survey-multi-choice-horizontal .jspsych-poldrack-survey-multi-choice-text {
  text-align: left;
}

.jspsych-poldrack-survey-multi-choice-option {
  line-height: 2;
}
.jspsych-poldrack-survey-multi-choice-horizontal .jspsych-poldrack-survey-multi-choice-option {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
  vertical-align: top;
}

label.jspsych-poldrack-survey-multi-choice-text input[type="radio"] {
  margin-right: 1em;
}

#jspsych-poldrack-survey-multi-choice-next {
  display: block;
  margin: auto;
}

.jspsych-poldrack-survey-multi-choice-opts {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  font-size: 13px;
  line-height:1.1em;
}

.jspsych-poldrack-survey-multi-choice-opt-label {
  line-height: 1.1em;
}

.jspsych-poldrack-survey-multi-choice-opts:before {
  content: '';
  position:relative;
  top:11px;
  /*left:9.5%;*/
  display:block;
  /*background-color:#efefef*/;
  height:4px;
  width:100%;
}

.jspsych-poldrack-survey-multi-choice-opts:last-of-type {
  border-bottom: 0;
}

.jspsych-poldrack-survey-multi-choice-opts li {
  display:inline-block;
  /*width:19%;*/
  text-align:center;
  vertical-align: top;
}

.jspsych-poldrack-survey-multi-choice-opts li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
}