

body {
  padding: 0;
  margin: 0;
  font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
  font-size: 20px;
  line-height: 20px;
  background-color: #707070; /* #900 #F8F8F8 #D0D0D0; */
}

body:before {
    content: "";
    position: fixed;
    background: #900;
    left: 5vw;
    top: 2vh;
    height: 94vh;
    width: 90vw;
    background-color: white;
    border-radius: 15px;
    border: 1vh solid #D0D0D0;
    z-index: -1;
}

.centerbox {
  width: 50vw;
  height: 60vh;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
}


/* Text based classes */
/* Used for general instructions */
.block-text {
  width:100%;
  height 100vw;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: 24px;
  line-height: 120%;
}

/* As above but centered instead of justified. Good for instructions with few lines */
.center-block-text {
  width:100%;
  height 100vw;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: 26px;
  line-height: 120%;
}

/* used for large text shown in the center of the screen, like FB or stimuli */
.center-text {
  text-align:center;
  font-size: 40px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* used when the background is dark */
.white-text {
  color: white;
}

/* fixation should be used like this in: '<div class = centerbox><div class = fixation>+</div></div>'*/
.fixation {
  text-align: center;
  font-size: 150px;
  position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}


/* Used in lists */
.list-text li{
  font-size: 20px;
}





/* flex box used to vertically and horizontally center an img.
Sample html: <div class = centerbox><div class = img-container><img...></img></div></div>
*/
.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

#legal {
  margin: 0 auto;
  margin-top: 1.5em;
  font-size: 0.8em;
}


/* Used for positioning nav buttons during instructions */

.jspsych-instructions-nav {
  text-align: center;
  margin-top: 60px;
}

.jspsych-instructions-nav button, .jspsych-btn {
  background: #ECECEC;
  border-radius: 15px;
  padding: 10px 20px;
  font-weight: bold;
  color:#7f7f7f;
  text-decoration: none;
  text-shadow:0px 1px 0px #fff;
  border:1px solid #a7a7a7;
  margin:0px auto;
  margin-right: 25px;
  margin-bottom: 25px;
  box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition:box-shadow 0.5s;
  font-size:24px;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  height: 6vh;
  width: 240px;
}


.jspsych-instructions-nav button:hover, .jspsych-btn:hover {
  background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 50%);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 2px solid rgba(81, 203, 238, 1); 
}

.jspsych-instructions-nav button:active, .jspsych-btn:active {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
    background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
}

/*
 *
 * PLUGIN: jspsych-poldrack-survey-multi-choice
 *
 */

.jspsych-poldrack-survey-multi-choice-question {
  margin-top: 2em;
  margin-bottom: 2em;
 }

.jspsych-poldrack-survey-multi-choice-text span.required {
  color: darkred;
}

.jspsych-poldrack-survey-multi-choice-horizontal .jspsych-poldrack-survey-multi-choice-text {
  text-align: left;
}

.jspsych-poldrack-survey-multi-choice-option {
  line-height: 2;
}
.jspsych-poldrack-survey-multi-choice-horizontal .jspsych-poldrack-survey-multi-choice-option {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
  vertical-align: top;
}

label.jspsych-poldrack-survey-multi-choice-text input[type="radio"] {
  margin-right: 1em;
}

#jspsych-poldrack-survey-multi-choice-next {
  display: block;
  margin: auto;
}

.jspsych-poldrack-survey-multi-choice-opts {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  font-size: 13px;
  line-height:1.1em;
}

.jspsych-poldrack-survey-multi-choice-opt-label {
  line-height: 1.1em;
}

.jspsych-poldrack-survey-multi-choice-opts:before {
  content: '';
  position:relative;
  top:11px;
  /*left:9.5%;*/
  display:block;
  /*background-color:#efefef*/;
  height:4px;
  width:100%;
}

.jspsych-poldrack-survey-multi-choice-opts:last-of-type {
  border-bottom: 0;
}

.jspsych-poldrack-survey-multi-choice-opts li {
  display:inline-block;
  /*width:19%;*/
  text-align:center;
  vertical-align: top;
}

.jspsych-poldrack-survey-multi-choice-opts li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
}